<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title> "Eat 'n' Greet"| Myfoodweb.com </title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/phone.css" media="screen and (max-width :960px )">

  <link href='https://fonts.googleapis.com/css?family=Averia Serif Libre' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Bigshot One' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Carter One' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Chicle' rel='stylesheet'>

</head>
<body>

  <nav id="navbar">
    <div id="logo">
      <img src="../static/image/mascot.png" alt="It's me!">
    </div>
    <ul>
      <li class="item"><a href="#" class="active">Home</a></li>
      <li class="item"><a href="#">Services</a></li>
      <li class="item"><a href="#">About us</a></li>
      <li class="item"><a href="#">Contact Us</a></li>
    </ul>
  </nav>

  <section id="home">
    <h1 class="h-primary">Welcome! to my online food-web...</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Consectetur inventore ad nam veritatis earum.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <button class="btn">Order Now</button>
  </section>

  <section class="services-container">
    <h2 class="h2-primary center">Our Services</h2>
    <div id="services">
      <div class="box">
        <img src="../static/image/pic2.png" alt="">
        <h2 class="h-secondary center">Food Catering</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi ipsam dolorum consectetur nostrum magnam
          laborum impedit modi tempore molestiae debitis! Voluptas quas iure</p>
      </div>
      <div class="box">
        <img src="../static/image/pic1.png" alt="">
        <h2 class="h-secondary center">Bulk Ordering</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi ipsam dolorum consectetur nostrum magnam
          laborum impedit modi tempore molestiae debitis! Voluptas quas iure</p>
      </div>
      <div class="box">
        <img src="../static/image/delivery.png" alt="">
        <h2 class="h-secondary center">Home Delivery</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi ipsam dolorum consectetur nostrum magnam
          laborum impedit modi tempore molestiae debitis! Voluptas quas iure</p>
      </div>
    </div>
  </section>

  <section id="client-section">
    <h1 class="h2-primary center">Our Clients</h1>
    <div id="clients">
      <div class="client-item">
        <img src="../static/image/logo1.png" alt="Our Client">
      </div>
      <div class="client-item">
        <img src="../static/image/logo2.png" alt="Our Client">
      </div>
      <div class="client-item">
        <img src="../static/image/logo3.png" alt="Our Client">
      </div>
    </div>
  </section>
  
  <section id="contact">
    <h1 class="h2-primary center">Contact Us</h1>
    <div id="contact-box">
      <form action="" method="POST">
        <div class="form-group">
          <label for="name">Name: </label><input type="text" name="name" id="name" placeholder="Enter your Name">
        </div>
        <div class="form-group">
          <label for="email">E-mail: </label><input type="email" name="email" id="email" placeholder="Enter your E-mail">
        </div>
        <div class="form-group">
          <label for="no">Mobile no.: </label><input type="text" name="no" id="no" placeholder="Enter your Number">
        </div>
        <div class="form-group">
          <label for="message">Message: </label><textarea name="message" id="message" cols="30" rows="10" placeholder="Enter Your Message"></textarea>
        </div>
        <div class="form-group center">
          <button class="sub-btn">Submit</button>
        </div>
      </form>
    </div>
  </section>

  <footer>
    <div class="center">
      | Copyright &copy; myFoodWeb.com All Rights Reserved
    </div>
  </footer>
</body>

</html>